@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Logout</h1>
<p>Sei sicuro di voler effettuare il logout?</p>
<form method="post" asp-action="Logout">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
