<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="AuthData.email"
          placeholder="Inserisci la tua email"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          [(ngModel)]="AuthData.password"
          placeholder="Inserisci la tua password"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </div>
</div>
