<main class="flex-grow-1 mt-3">
  <section>
    <div>
      <h2 class="text-center mb-2">Post in evidenza</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">{{ featuredPost.title }}</h5>
              <p class="card-text">
                {{ featuredPost.body }}
              </p>
              <button class="btn btn-secondary" (click)="goToPostDetail()">
                Vedi dettagli
              </button>
            </div>
            <div class="card-footer text-body-secondary">2 days ago</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <h2 class="text-center mb-4">Potrebbero piacerti questi post</h2>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-sm-2 col-md-3 col-lg-6 my-2"
          *ngFor="let post of randomPosts"
        >
          <div class="card">
            <img
              src="https://picsum.photos/200"
              class="img-fluid rounded-start w-100"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.body }}</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">
                  {{ post.tags[0] }}
                </button>
                <button type="button" class="btn btn-primary">
                  {{ post.tags[1] }}
                </button>
                <button
                  *ngIf="post.tags[2]"
                  type="button"
                  class="btn btn-primary"
                >
                  {{ post.tags[2] }}
                </button>
              </div>
              <button
                class="btn btn-secondary ms-5"
                [routerLink]="['/post-detail', post.id]"
              >
                Vedi dettagli
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
