<main class="flex-grow-1 mt-3">
  <section>
    <div>
      <h2 class="text-center mb-2">Post in evidenza</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">{{ featuredPost.title }}</h5>
              <p class="card-text">
                {{ featuredPost.body }}
              </p>
              <button
                class="btn btn-secondary ms-5"
                [routerLink]="['/post-detail', featuredPost.id]"
              >
                Vedi dettagli
              </button>
            </div>
            <div class="card-footer text-body-secondary">2 days ago</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <h2 class="text-center mb-4">Potrebbero piacerti questi post</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row d-flex align-items-center">
        <div class="col-2">
          <p class="fw-bold text-uppercase pt-3">Filtra per:</p>
        </div>
        <div class="col-10">
          <div class="btn-group" role="group" aria-label="Tag buttons">
            <button
              type="button"
              class="btn"
              [ngClass]="{
                'btn-info': tag !== selectedTag,
                'btn-success': tag === selectedTag
              }"
              *ngFor="let tag of tags"
              (click)="filterPostsByTag(tag)"
            >
              {{ tag | uppercase }}
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="resetFilter()"
            >
              X
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          *ngFor="let post of postArray"
          class="col-md-6 my-3 col-sm-3 col-lg-4"
        >
          <app-single-post [post]="post">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <input
                type="text"
                name="title"
                [(ngModel)]="post.title"
                class="form-control"
              />
              <button type="submit" class="btn btn-success">
                Salva modifiche
              </button>
            </form>
          </app-single-post>
        </div>
      </div>
    </div>
  </section>
</main>
