@model TrackingRequest

<form asp-action="Tracking" method="post">
    <div>
        <label for="NumeroSpedizione">Numero di Spedizione</label>
        <input type="text" id="NumeroSpedizione" name="NumeroSpedizione" required>
    </div>
    <div>
        <label for="CodiceFiscalePartitaIVA">Partita IVA o Codice Fiscale</label>
        <input type="text" id="CodiceFiscalePartitaIVA" name="CodiceFiscalePartitaIVA" required>
    </div>
    <div>
        <input type="submit" value="Cerca Spedizione">
    </div>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}
