@model TrackingRequest

<form asp-action="Tracking" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="Nome" required>
    </div>
    <div>
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" name="Cognome" required>
    </div>
    <div>
        <label for="CodiceFiscalePartitaIVA">Partita IVA o Codice Fiscale</label>
        <input type="text" id="CodiceFiscalePartitaIVA" name="CodiceFiscalePartitaIVA">
    </div>
    <div>
        <input type="submit" value="Cerca Spedizione">
    </div>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}
