.img_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a main{
    color: red;
    text-decoration: none;
}
#footer{
    text-align: center;
    font-style: italic;
}
#footer_a{
    text-decoration: none;
}
h3{
    text-align: center;
}
#tabella_formazione a{
    text-decoration: none;
    color:green;
    
}
#tabella_formazione a:visited{
    color: red;
}
#tabella_professioni a{
    text-decoration: none;
    color: green;
}
#tabella_professioni a:visited{
    color: red;
}