.header_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-evenly;
}
.logo_container img{
width: 300px;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav_bar a{
    text-decoration: none;
}
.nav_bar li{
    list-style: none;
}
.titolo_articolo{
text-align: center;
font-size: 2em;
}
.sottotitolo_articolo h3{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.paragrafo_articolo{
    font-size: 1em;

}
table{
    text-align: center;
}
th{
    border: solid 2px lightgray;  
}
td{
    border: solid 2px lightgray;
}
.correlati{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabella{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#titolo_correlati{
    text-align: center;
}
#footer_text{
    text-align: center;
}
#footer_text address{
    text-align: center;
}