tcolor {
  color: #f4f4f4;
}

btn_color1 {
  background-color: #0e6cff;
}
btn_color2 {
  background-color: #ff8700;
}
btn_color3 {
  background-color: #4caf50;
}

bg_hero {
  background-color: #640fc5;
}
