<div class="card" [ngClass]="{ 'border-primary border-3': post.active }">
  <img
    src="https://picsum.photos/200"
    class="img-fluid rounded-start w-100"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ post.title | uppercase }}</h5>
    <p [innerHTML]="post.body | cutter" class="card-text"></p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" appRandomBg>
        {{ post.tags[0] | uppercase }}
      </button>
      <button type="button" class="btn btn-primary" appRandomBg>
        {{ post.tags[1] | uppercase }}
      </button>
      <button
        *ngIf="post.tags[2]"
        type="button"
        class="btn btn-primary"
        appRandomBg
      >
        {{ post.tags[2] | uppercase }}
      </button>
    </div>
    <button
      class="btn btn-secondary ms-5"
      [routerLink]="['/post-detail', post.id]"
    >
      Vedi dettagli
    </button>
    <button class="btn btn-secondary ms-2 mt-1" (click)="showForm = !showForm">
      Modifica post
    </button>
    <div *ngIf="showForm">
      <ng-content></ng-content>
    </div>
  </div>
</div>
